<% include partials/header %>

<form action="/search" method="POST">
    <h1>Home Page</h1>
    <p>Enter a keyword to search twitter: </p>
    <input type="text" name="key" placeholder="search">
    <button>Search</button>
</form>

<% include partials/footer %>